body {
    background-color: #EAEAEA;
    #font-family: 'Roboto', sans-serif;
    #font-family: 'Noto Sans', sans-serif;
}

.container-fluid {
    font-family: 'Noto Sans', sans-serif;
    #font-family: 'Roboto', serif;
}

.mainSection {
    #background-color: #356E89;
    background-color: #356E89;
    #background-color: #008BCC; Future Use
    #height: 500px;
    #background-image: url('../img/connect.png');
    #background-repeat: no-repeat;
    #opacity: 0.5;
}

.mainSection img {
    opacity: 0.5;
}

.mainTitles {
    #color: white;
    padding-top: 25%;
    padding-left: 3%;
    padding-bottom: 5%;
}

.myButton {
    #background-color: #F9690E;
    #background-color: #356E89;
    background-color: #356E89;
    width: 95%;
    #height: 70px;
    border-radius: 0px;
    #border-color: white;
    border-style: solid;
    border-color: #356E89;
    #ont-size: 24px;
    font-size: 50px;
    font-weight: bold;
    border-width: 5px;
}

.myButton:hover {
    #background-color: #D4E4E1;
    background-color: #356E89;
    #background-color: white;
    width: 95%;
    #height: 70px;
    #border-radius: 0px;
    border-color: #D4E4E1;
    #font-size: 24px;
    color: #D4E4E1;
    border-style: solid;
    border-width: 5px;
}

.myNavBar {
    #background-color: #356E89;
    border-color: #356E89;
    background-color: #356E89;
    #border-style: solid;
}

.navbar-default .navbar-text {
    color: white;
}

.myNav {
    padding-right: 25px;
    #padding-top: 5%;
    #border-style: solid;
    
    #position: absolute;
}

.navRight {
    #border-style: solid;
    #margin-top: 15%;
    #margin-bottom: -10px;
}

.myText {
    padding-top: 3%;
    padding-bottom: 3%;
}

.mySubmit {
    padding-left: 21%;
    padding-bottom: 10%;
    padding-top: 8%;
}

.profileSubmit {
    padding-top: 5%;
}

.mySubmitButton {
    background-color: #356E89;
    width: 60%;
    height: 35px;
    border-radius: 0px;
    #border-color: #F9690E;
    border-color: white;
    font-size: 20px;
    padding-bottom: 13%;
}

.profileSubmitButton {
    padding-bottom: 10%;
}

.myPanelButton {
    background-color: #356E89;
    width: 30%;
    height: 40px;
    border-radius: 0px;
    border-color: white;
    font-size: 20px;
    padding-bottom: 6%;
}

.myPanelButtonBack {
    margin-left: 5%;
}

.myPanelButtonSave {
    margin-right: 5%;
    float: right;
}

.myLoginButton {
    background-color: #356E89;
    #width: 40%;
    #height: 35px;
    border-radius: 0px;
    #border-color: #F9690E;
    border-color: white;
    #font-size: 20px;
    #padding-bottom: 13%;
}

.myCloseButton {
    background-color: white;
    #width: 40%;
    #height: 35px;
    border-radius: 0px;
    #border-color: #F9690E;
    border-color: white;
    #font-size: 20px;
    #padding-bottom: 13%;
    color: #356E89;
}

.loginModal {
    width: 500px;
}

.jobSection {
    #padding-top: 5%;
}

.jobSectionHeading {
    padding-left: 20%;
}

.panelRow {
    padding-bottom: 10%;
    border-style: solid;
}

.jobPanel {
    #height: 200px;
    border-radius: 0px;
    #padding-bottom: 20%;
    #border-style: solid;
    color: #5F5F5F;
}

.jobPanelHeader {
    background-color: white;
    border-color: black;
}

.jobPanelTitle {
    font-size: 26px;
}

.jobPanelSubTitle {
    font-size: 20px;
    padding-bottom: 1%;
}

.panel-default>.panel-heading {
    color: #434a54;
    background-color: white;
    border-color: #e6e9ed;
    #height: 200px;
    border-radius: 0px;
}

.jobPanelFooter {
    background-color: #356E89;
    color: white;
}

.compatLabel {
    font-size: 14px;
}

.dashboardButton {
    padding-bottom: 15%;
}

.pricing .viewJob {
    padding-top: 20%;
    width: 100%;
    #height: 1000px;
    border-style: none;
    border-radius: 0px;
    border-color: white;
}

.pricing .price-primary .viewJobTitle {
    border-radius: 0px;
    #border-style: solid;
    #border-color: black;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-right-radius: 0px;
    height: 50%;
    background-color: #356E89;
}

.pricing .price-primary .viewJobBody {
    height: 50%;
    background-color: white;
    border-bottom-right-radius: 0px;
}

.pricing .viewJobFooter {
    background-color: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    #border-style: solid;
}

.myViewButton {
    background-color: #356E89;
    border-radius: 0px;
    border-color: #356E89;
    width: 40%;
}

.myProgress {
    height: 40%;
    width: 100%;
}

.progressSection {
    padding-top: 10%;
}

.myBadge {
    #width: 15%;
    #border-radius: 0px;
}

.mySelect {
    width: 100%;
    #height: 30px;
    position: relative;
    z-index: 2;
    display: block;
    padding: 6px 10px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #aab2bd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.myEditIcon {
    float: right;
    font-size: 20px;
}

.optionList {
    padding-top: 2.1%;
    #border-style: solid;
    #position: static;
}

.posterOptions {
    margin-top: 15.5%;
    #border-style: solid;
}

.seekerOptions {
    margin-top: 9%;
    #border-style: solid;
}

.info {
    padding-top: 5%;
    padding-bottom: 5%;
}

.myImg {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    max-width: 350%;
    max-height: 350%;
    #border-style: none;
    #border-color: #356E89;
    #box-sizing: none;
    #background-color: #356E89;
    #border: 0;
    border-style: solid;
    margin-top: -20px;
}

.myHeader {
    height: 0px;
    border-style: solid;
}

.jobLinks {
    #color: #5F5F5F;
    #color: #2196F3;
    color: #03A9F4;
    font-weight: 700;
}

.jobLabel {
    background-color: white;
    color: #356E89;
    border-color: #5F5F5F;
    border-style: solid;
    border-width: 2px;
    width: 40px;
    color: #5F5F5F;
    float: right;
}

.cardButton {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.cardButton:hover {
    color: white;
}

.cardButton:after {
    color: white;
}

.cardButton:visited {
    color: white;
}

.skillLabel {
    padding-bottom: 25px;
    color: #5F5F5F;
    border-color: #5F5F5F;
}

.myBadge {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    display: inline-block;
    color: #5F5F5F;
    border-color: #5F5F5F;
}

.linksSection {
    padding-top: 1%;
}

.jobPanelIcon {
    #padding-top: 15%;
    font-size: 18px;
    #border-style: solid;
}

.jobPanelProps {
    font-size: 16px
}

.arrow-section {
    padding-left: 10%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 60px solid #356E89;
}

.stepper .stepper-arrow {
    display: none;
}

.emptyItem {
    #opacity: 0;
    #border-style: none;
    #box-shadow: 0;
    #border-color: transparent;
    #margin-top: 15px;
    border-style: solid;
}

.dashList {
    #border-style: solid;
}

.hint {
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #CCD1D9;
    #color: #CCD1D9;
    background-color: #CCD1D9;
    opacity: 0.7;
    #box-shadow: 2px 2px 1px #888888;
    #position: absolute;
}

.hint-down-pos {
    padding-left: 43%;
    #box-shadow: 5px 5px 3px #888888;
    #font-size: 15px;
    #position: absolute;
}

.hint-down {
    width: 0;
    height: 0;
    #padding-left: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    #border-top: 10px solid #CCD1D9;
    border-bottom: 10px solid #CCD1D9;
    #box-shadow: 5px;
    #position: absolute;
    
}


a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    #background-color: #4FC1E9;
    border-color: #356E89;
    background-color: #356E89;
}

.fieldLabel {
    #float: left;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    #border-style: solid;
    margin: 0;
}

.fieldDesc {
    #float: left;
    font-size: 14px;
    color: #9E9E9E;
    #border-style: solid;
    #margin: 0;
}

.howInfo {
    font-size: 20px;
}

.believeSection {
    border-style: solid;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #356E89;
    border-color: #356E89;
    color: white;
}

.form-control {
    border-style: none;
}

.modal-content {
    background-color: #EAEAEA;
    #float: inherit;
}

.mySelect {
    border-style: none;
}

textarea {
    resize: none;
}

.error {
    color: #F44336;
}

.profileButton {
    font-size: 20px;
    float: right;
}

.editCardButton {
    border-style: solid;
    margin-left: 10%;
}

.dashBack {
    #padding-bottom: 10%;
    float: right;
    font-size: 24px;
    color: #356E89;
}

.dashInfo {
    font-size: 16px;
}

.affix-top {
    /* Initial items */
}

.affix {
    top:50px;
    right:0;
    position:fixed;
}