body {
    background-color: #F2F1EF;
}

.mainSection {
	
	background-color : #044F67;
	height : 500px;

}

.mainTitles {
	
	color : white;
	padding-top : 20%;
    padding-left : 3%;
}

.myButton {
	#background-color : #F9690E;
    background-color : #044F67;
	width : 95%;
	height : 70px;
	border-radius : 0px;
	border-color : white;
	font-size : 24px;
}

.myButton:hover {
	#background-color : #F9690E;
    background-color : white;
	width : 95%;
	height : 70px;
	border-radius : 0px;
	border-color : white;
	font-size : 24px;
    color: #044F67;
}

.myNavBar {
	background-color : #044F67;
	border-color : #044F67;
}

.myNavText:hover {
	color : white;
}

.myText {
	padding-top: 3%;
	padding-bottom: 3%;
}

.mySubmit {
	padding-left: 21%;
	padding-bottom: 10%;
	padding-top: 8%;
}

.mySubmitButton {
	background-color : #044F67;
	width : 60%;
	height : 35px;
	border-radius : 0px;
	#border-color : #F9690E;
    border-color : white;
	font-size : 20px;
	padding-bottom: 13%;
}

.myPanelButton {
	background-color : #044F67;
	width : 40%;
	height : 40px;
	border-radius : 0px;
    border-color : white;
	font-size : 20px;
	padding-bottom: 6%;
}

.myLoginButton {
	background-color : #044F67;
	#width : 40%;
	#height : 35px;
	border-radius : 0px;
	#border-color : #F9690E;
    border-color : white;
	#font-size : 20px;
	#padding-bottom: 13%;
}

.myCloseButton {
	background-color : white;
	#width : 40%;
	#height : 35px;
	border-radius : 0px;
	#border-color : #F9690E;
    border-color : white;
	#font-size : 20px;
	#padding-bottom: 13%;
    color: #044F67;
}

.loginModal {
    width: 500px;
}

.jobSection {
	#padding-top: 5%;
}

.jobSectionHeading {
	padding-left: 20%;
}

.panelRow {
    padding-bottom: 10%;
    border-style: solid;
}

.jobPanel {
	height: 200px;
	border-radius: 0px;
    #padding-bottom: 20%;
    #border-style: solid;
}

.jobPanelHeader {
	background-color: white;
    border-color: black;
}

.jobPanelTitle {
	font-size: 30px;
}

.jobPanelSubTitle {
	font-size: 20px;
}

.panel-default>.panel-heading {
    color: #434a54;
    background-color: white;
    border-color: #e6e9ed;
	height: 200px;
	border-radius: 0px;
}

.jobPanelFooter {
	background-color:#044F67;
	color: white;
}

.compatLabel {
	font-size: 14px;
}

.dashboardButton {
    padding-bottom: 15%;
}

.pricing .viewJob {
	padding-top: 20%;
	width: 100%;
	#height: 1000px;
	border-style: none;
	border-radius: 0px;
	border-color: white;
}

.pricing .price-primary .viewJobTitle {
	border-radius: 0px;
	#border-style: solid;
	#border-color: black;
	-webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-right-radius: 0px;
	height: 50%;
	background-color:#044F67;
}

.pricing .price-primary .viewJobBody {
	height: 50%;
	background-color: white;
	border-bottom-right-radius: 0px;
}

.pricing .viewJobFooter {
	background-color: white;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	#border-style: solid;
}

.myViewButton {
	background-color : #044F67;
	border-radius : 0px;
	border-color : #044F67;
	width: 40%;
}

.myProgress {
	height: 40%;
	width: 100%;
}

.progressSection {
	padding-top: 10%;
}

.myBadge {
    #width: 15%;
    #border-radius: 0px;
}

.mySelect {
 width: 100%;
 #height: 30px;
 position: relative;
    z-index: 2;
    display: block;
    padding: 6px 10px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #aab2bd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.myEditIcon {
    float: right;
    font-size: 20px;
}

.optionList {
    padding-top: 5.5%;
}

.info {
 padding-top: 5%;
 padding-bottom: 5%;
}
.myImg {
 max-width:100%;
 max-height:100%;
}