<html>

<head>
    <link rel="stylesheet" href="css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>


    <![endif]-->
    
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/site.min.js"></script>

    <script src="js/skylo.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="js/ang/main.js"></script>

    <script src="js/ang/admin.js"></script>
</head>

<body ng-app="app" ng-controller="admin">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#" ng-click="getPostedJobs()">Posted <span class="badge">{{response.postedJobs.length}}</span></a></li>
                    <li><a href="#" ng-click="getPendingJobs()">Pending <span class="badge badge-danger">{{response.pendingJobs.length}}</span></a></li>
                    <li><a href="#" ng-click="getAcceptedJobs()">Accepted <span class="badge badge-danger">{{response.acceptedJobs.length}}</span></a></li>
                    <li><a href="#" ng-click="getAllUsers()">Users <span class="badge badge-danger">{{response.candidates.length}}</span></a></li>
                    <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">@fat</a></li>
                      <li><a href="#">@mdo</a></li>
                    </ul>
                  </li>-->
                </ul>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <h2>{{heading}}</h2>
                <a href="adminPostJob.html">Post New Job</a>
                <a href="#mailModal" data-toggle="modal">Send mail</a>
                
                <table class="table" ng-show="showPosted">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Company</th>
                            <th>Sector</th>
                            <th>Experience</th>
                            <th>Posted Date</th>
                            <th>Expiry Date</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Interactions</th>
                            <th>Share</th>
                            <!--<th>Shortlisted</th>
					<th>Matches</th>-->
                            <!--<th>Accepted</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in response.postedJobs">
                            <td>{{job.id}}</td>
                            <td>{{job.postedBy.name}}</td>
                            <td>{{job.jobTitle}}</td>
                            <td>{{job.companyName}}</td>
                            <td>{{job.sector.name}}</td>
                            <td>{{job.minExperience}} - {{job.maxExperience}}</td>
                            <td>{{job.postedDateString}}</td>
                            <td>{{job.expiryDateString}}</td>
                            <td ng-show="job.poc == null || job.poc.email == null">{{job.postedBy.email}}</td>
                            <td ng-show="job.poc != null && job.poc.email != null">{{job.poc.email}}</td>
                            <td>{{job.postedBy.phone}}</td>
                            <td>{{job.noOfApplications}}</td>
			                <td><input type="button" value="View" ng-click="viewJob(job)"/></td>
                            <td><input type="button" value="Share" ng-click="shareJob(job)"/></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" ng-show="showPending">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Company</th>
                            <th>Posted Date</th>
                            <th>Expiry Date</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <!--<th>Interactions</th>-->
                            <th>Seeker Name</th>
                            <th>Seeker Email</th>
                            <th>Seeker Phone</th>
                            <th>Seeker Experience</th>
                            <th>Poster Interest</th>
                            <th>Seeker Interest</th>
                            <!--<th>Applied Date</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in response.pendingJobs">
                            <td>{{job.id}}</td>
                            <td>{{job.postedBy.name}}</td>
                            <td>{{job.jobTitle}}</td>
                            <td>{{job.companyName}}</td>
                            <td>{{job.postedDateString}}</td>
                            <td>{{job.expiryDateString}}</td>
                            <td>{{job.postedBy.email}}</td>
                            <td>{{job.postedBy.phone}}</td>
                            <td>{{job.currentCandidate.name}}</td>
                            <td>{{job.currentCandidate.email}}</td>
                            <td>{{job.currentCandidate.phone}}</td>
                            <td>{{job.currentCandidate.experience}}</td>
                            <td>{{job.interestShownByPoster}}</td>
                            <td>{{job.interestShownBySeeker}}</td>
                            <!--<td>{{job.appliedDateString}}</td>-->
                        </tr>
                    </tbody>
                </table>

                <table class="table" ng-show="showAccepted">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Company</th>
                            <th>Posted Date</th>
                            <th>Expiry Date</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Seeker Name</th>
                            <th>Seeker Email</th>
                            <th>Seeker Phone</th>
                            <!--<th>Interactions</th>-->
                            <!--<th>Poster Interest</th>
                    <th>Seeker Interest</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in response.acceptedJobs">
                            <td>{{job.id}}</td>
                            <td>{{job.postedBy.name}}</td>
                            <td>{{job.jobTitle}}</td>
                            <td>{{job.companyName}}</td>
                            <td>{{job.postedDateString}}</td>
                            <td>{{job.expiryDateString}}</td>
                            <td>{{job.postedBy.email}}</td>
                            <td>{{job.postedBy.phone}}</td>
                            <td>{{job.currentCandidate.name}}</td>
                            <td>{{job.currentCandidate.email}}</td>
                            <td>{{job.currentCandidate.phone}}</td>
                            

                        </tr>
                    </tbody>
                </table>

                <table class="table" ng-show="response.candidates.length > 0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Sector</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <td>Experience</td>
                            <td>Status</td>
                            <td>Activation</td>
                            <th>Resume upload</th>
                            <!--<th>Last Login</th>-->
                            <th>Visits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in response.candidates">
                            <td>{{c.id}}</td>
                            <td>{{c.type}}</td>
                            <td>{{c.sector.name}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.designation}}</td>
                            <td>{{c.company}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.phone}}</td>
                            <td>{{c.experience}}</td>
                            <td>{{c.status}}</td>
                            <td>{{c.activationCode}}</td>
                            <td ng-show="c.filePath != null && c.filePath.length > 0">Y</td>
                            <td ng-show="c.filePath == null || c.filePath.length == 0">N</td>
                            <!--<td>{{c.lastLogin}}</td>-->
                            <td>{{c.noOfVisits}}</td>
			                <td><input type="button" value="View" ng-click="viewProfile(c)"/></td>
                        </tr>
                    </tbody>
                </table>
                

            </div>

        </div>
        
        <div class="modal" id="mailModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Send Mail</h4>
                    </div>
                    <div class="modal-body" ng-show="sendResponse == null">
                       <select name="type" ng-model="mailer.type" class="mySelect">
                            <option value="All" selected>All</option>
                            <option value="Poster">Posters Only</option>
                            <option value="Seeker">Seekers Only</option>
                        </select>
                        <br/>
                        <input type="text" class="form-control" name="subject" placeholder="Mail subject" ng-model="mailer.subject">
                        <br/>
                        <textarea class="form-control" placeholder="Mail message" ng-model="mailer.message" maxlength="800" name="message" rows="10"></textarea>
                    </div>
                    <div class="modal-body" ng-show="sendResponse != null">
                       {{sendResponse}}
                    </div>
                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="sendMail()" ng-show="sendResponse == null">Send</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    




</body>

</html>
