<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Talnote | Post job</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/site.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">-->
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="js/date.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ang/main.js"></script>
    <script src="js/ang/postJob.js"></script>
</head>

<body ng-app="app" ng-controller="postJob">




    <div class="container-fluid">
        

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Job Information</h3>
                <ng-form name="postJobForm">
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldDesc text-left">You can post job as a referrer or a recruiter</p>
                        <select name="type" ng-model="job.type" class="mySelect" ng-required="true">
                            <!--<option value="">I'm a nobody</option>-->
                            <option value="Referrer">I'm a Referrer</option>
                            <option value="Recruiter">I'm a Recruiter</option>
                        </select>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Field of work * </p>
                        <p class="fieldDesc text-left">Select your industry or field of work</p>
                        <select ng-model="job.sector.id" name="sector" class="mySelect" ng-required="true">
                            <option value="">Please select the field of job</option>
                            <option value="1">Information Technology</option>
                            <option value="2">Telecommunication</option>
                            <option value="3">Manufacturing</option>
                            <option value="4">Financial</option>
                            <option value="5">Media and publishing</option>
                            <option value="6">Teaching</option>
                            <option value="7">Sales and supply chain</option>
                            <option value="8">Creative arts and design</option>
                            <option value="10">Medical</option>
                            <option value="11">Construction</option>
                            <option value="9">Other</option>
                        </select>
                        <p class="error" ng-show="showPostJobError && postJobForm.sector.$invalid">Please select something</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Job Title * </p>
                        <p class="fieldDesc text-left">Mention the role/job title</p>
                        <input type="text" class="form-control" name="title" placeholder="e.g. Java Developer or Product Designer etc." ng-model="job.jobTitle" ng-required="true">
                        <p class="error" ng-show="showPostJobError && postJobForm.title.$invalid">e.g. Java Developer or Product designer or Admin Executive etc.</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Company * </p>
                        <p class="fieldDesc text-left">Name of the recruiting company/ Business</p>
                        <input type="text" class="form-control" name="company" placeholder="e.g. Infosys, TATA Motors etc." ng-model="job.companyName" ng-required="true">
                        <p class="error" ng-show="showPostJobError && postJobForm.company.$invalid">Please enter Company Name</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Experience * </p>
                        <p class="fieldDesc text-left">Experience range required. Put 0 for freshers</p>
                        <div class="row">
                            <div class="col-md-5">
                                <input min="0" class="form-control" name="minExp" type="text" placeholder="e.g. 0, 1.5, 2" ng-model="job.minExperience" ng-required="true">
                               
                            </div>
                            <div class="col-md-2" style="font-size:20px">
                               to
                            </div>
                            <div class="col-md-5">
                                <input min="0" class="form-control" name="maxExp" type="text" placeholder="e.g. 0, 1.5, 2" ng-model="job.maxExperience" ng-required="true">
                                
                            </div>
                            <p class="error" ng-show="showPostJobError && (postJobForm.minExp.$invalid || postJobForm.maxExp.$invalid)">Please enter the full experience range</p>
                            <p class="error">{{expError}}</p>
                        </div>

                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Location * </p>
                        <p class="fieldDesc text-left">Location of candidate placement</p>
                        <input type="text" class="form-control" name="location" placeholder="e.g. Pune, Delhi etc." ng-model="job.location" ng-required="true">
                        <p class="error" ng-show="showPostJobError && postJobForm.location.$invalid">Please enter job location</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Skills * </p>
                        <p class="fieldDesc text-left">Skills expected from the candidate. It can be a tool, technology or soft skill also. Be precise. If the intended skill is not present in the suggestions, Press enter after typing the skill to add it to the list.</p>
                        <input type="text" class="form-control" name="skills" placeholder="e.g. Java, C#, Auto-CAD, management, report writing etc." ng-model="skill.name" ng-keyup="onKeyUp($event)">
                        <br/>
                        <a href="#"><span class="myBadge" ng-click="removeSkill(s,$event)" ng-repeat="s in job.skillsRequired">{{s.name}}&nbsp;&nbsp;&nbsp;&nbsp;x</span></a>&nbsp;
                        <ul class="list-group">
                            <a href="#">
                                <li class="list-group-item" ng-click="itemClick(s,$event)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                            </a>
                        </ul>
                        <p class="error">{{skillsError}}</p>
                    </div>
                    <!--<div class="col-md-8 col-md-offset-2 myText">
                    
                </div>-->
                    <!--<div class="col-md-8 col-md-offset-2">
                    <ul class="list-group">
                        <a href="#">
                            <li class="list-group-item" ng-click="itemClick(s)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                        </a>
                    </ul>
                </div>-->
                    
                    <div class="col-md-8 col-md-offset-2 text-center myText">
                        <p class="fieldLabel text-left">Job Un posting Date * </p>
                        <p class="fieldDesc text-left">Date till which the job is valid. It won't be available to the seekers after this date.</p>
                        <input type="text" class="form-control" name="expiry" id="datepicker" placeholder="Job offer valid till" ng-model="job.expiryDate" ng-required="true">
                        <p class="error" ng-show="showPostJobError && postJobForm.expiry.$invalid">Please enter the date till which job offer is valid</p>
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">About the Job * </p>
                        <p class="fieldDesc text-left">Describe the job in detail</p>
                        <textarea class="form-control" name="description" placeholder="In this job profile .." ng-model="job.description" ng-required="true" rows="10" maxlength="1500"></textarea>
                        <p class="error" ng-show="showPostJobError && postJobForm.description.$invalid">Please enter the job description</p>
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">POC Email *</p>
                        <p class="fieldDesc text-left">Email of the job POC</p>
                        <input type="text" class="form-control" name="email" placeholder="email" ng-model="job.poc.email" ng-required="true">
                        <p class="error" ng-show="showPostJobError && postJobForm.location.$invalid">Please enter Email</p>
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">POC Phone </p>
                        <p class="fieldDesc text-left">Phone Number of the job POC</p>
                        <input type="text" class="form-control" name="phone" placeholder="phone (optional)" ng-model="job.poc.phone">
                        
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2">
                       <p class="error" ng-show="showPostJobError">Please enter all the mandatory fields</p>
                    </div>
                    

                    <!--<div class="col-md-8 col-md-offset-2 text-center mySubmit">
                        <button type="button" ng-disabled="false" class="btn btn-block mySubmitButton" ng-click="saveJob(postJobForm.$valid)">Submit</button>
                    </div>-->
                    
                    <div class="col-md-8 col-md-offset-2 text-center mySubmit profileSubmit">
                        <button type="button" class="btn btn-block mySubmitButton profileSubmitButton" ng-click="saveJobAdmin(postJobForm.$valid)">Continue</button>
                    </div>
                </ng-form>


            </div>
        </div>




    </div>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: '+1'
            });
        });
    </script>

</body>

</html>