<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Talnote | Dashboard</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/site.min.css">
    <!--link rel="stylesheet" href="css/vertical_nav.css"-->
    <!--<link rel="stylesheet" href="css/drawer.css">-->
    <link rel="stylesheet" href="css/skylo.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">-->

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">

    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">-->

    <script type="text/javascript" src="js/site.min.js"></script>

    <script src="js/skylo.js"></script>

    <script src="js/date.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="js/ang/main.js"></script>

    <script src="js/ang/dashboard.js"></script>

</head>

<body ng-app="app" ng-controller="dashboard">

    <!--<input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>Header</header>
    <nav id="drawer">
        <ul>
            <li><a href="#" ng-click="showPostedJobs('open')">Posted Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.postedJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showAppliedJobs('open')">Applied Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.appliedJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showAvailableJobs('open')">Available Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.availableJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showPosterInterests('open')">Your Interests&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.profileInterests.length}}</span></a></li>
            <li><a href="updateProfile.html">Your Profile&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href="postJob.html">Post New Job&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
    </nav>-->
    <!--<div id="page-content">-->
    <div class="container-fluid">
        <div ng-include="'header.html'"></div>

        <div class="row">
            <div class="row jobSection">
                <!--<div class="row">
                    <div class="col-md-4 col-md-offset-3 dashBack">
                        
                    </div>
                </div>-->
                <div class="col-md-3 col-md-offset-1 optionList">
                    
                    <div class="list-group posterOptions" id="optionsDiv" ng-show="profile.type == 'Poster'">
                        <li class="list-group-item listMain" data-toggle="collapse" data-target="#poster"><span class="listSpan" style="float:right"></span><b>Job Poster&nbsp;&nbsp;&nbsp;&nbsp;</b><span class=""></span></li>
                        <div id="poster" class="userOptions collapse in">
                            <!--<a href="#" class="list-group-item" ng-click="showAppliedCandidates('open')"><span class="label label-success compatLabel jobLabel">{{profile.profileInterests.length}}</span>Applications received</a>
                            <a href="#" class="list-group-item" ng-click="showPosterInterests('open')"><span class="label label-success compatLabel jobLabel">{{profile.profileInterests.length}}</span>Interests sent</a>-->
                            <a href="#" class="list-group-item" ng-click="showAcceptedCandidates('open')"><span class="label label-success compatLabel jobLabel">{{profile.acceptedProfiles.length}}</span>My Contacts</a>
                            <a class="list-group-item"></a>
                            <!--<a href="#" ng-click="updateType('Seeker')" class="list-group-item">Switch to Job Seeker</a>-->
                            <a href="#" class="list-group-item" ng-click="showPostedJobs('open')"><span class="label label-success compatLabel jobLabel">{{profile.postedJobs.length}}</span>Posted Jobs</a>
                            <a href="postJob.html" class="list-group-item">Post a New Job</a>
                        </div>
                    </div>
                    <br/>
                    <div class="list-group seekerOptions" ng-show="profile.type == 'Seeker' || profile.type == null || profile.type == 'null'">
                        <li class="list-group-item listMain" data-toggle="collapse" data-target="#seeker"><span class="listSpan" style="float:right"></span><b>Job Seeker&nbsp;&nbsp;&nbsp;&nbsp;</b><span class=""></span></li>
                        <div id="seeker" class="userOptions collapse in">
                            <a href="#" class="list-group-item" ng-click="showAvailableJobs('open')"><span class="label label-success compatLabel jobLabel">{{profile.availableJobs.length}}</span>Available Jobs</a>
                            <li class="list-group-item"> </li>
                            <a href="#" class="list-group-item" ng-click="showJobRequests()"><span class="label label-success compatLabel jobLabel">{{profile.jobRequests.length}}</span>Interests Received</a>
                            <a href="#" class="list-group-item" ng-click="showAppliedJobs('open')"><span class="label label-success compatLabel jobLabel">{{profile.appliedJobs.length}}</span>Applications sent</a>
                            <a href="#" class="list-group-item" ng-click="showAcceptedJobs()"><span class="label label-success compatLabel jobLabel">{{profile.acceptedJobs.length}}</span>My Contacts</a>



                            <!--<a href="#" ng-click="updateType('Poster')" class="list-group-item">Switch to Job Poster</a>-->
                        </div>
                    </div>
                    <a href="#" class="dashBack" ng-click="showPostedJobs('open')" ng-show="profile.type == 'Poster'">
                        <span class="glyphicon glyphicon-arrow-left"></span>  <span style="font-size:18px">Back</span>
                    </a>
                    <a href="#" class="dashBack" ng-click="showAvailableJobs('open')" ng-show="profile.type == 'Seeker' || profile.type == null">
                        <span class="glyphicon glyphicon-arrow-left"></span> <span style="font-size:18px">Back</span>  
                    </a>
                    <br/>
                </div>
                <div class="col-md-6">


                    <div class="row" ng-show="loading == true">
                        <div class="col-md-6 col-md-offset-3 progressSection">
                            <h4>Loading profile ..</h4>
                        </div>
                    </div>

                    <div class="row" ng-show="profileError != null">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="alert alert-danger">
                                <!--button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button-->
                                {{profileError}}
                            </div>
                        </div>
                    </div>


                    <h3>{{header}}</h3>
                    <div class="row" ng-show="postedJobs.length == 0">
                        <p class="dashInfo" ng-show="viewType == 'PostedJobs'">
                            There are currently no Jobs posted by you. <a href="postJob.html"> Post a new Job</a> and find matching candidates right away!
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'AvailableJobs'">
                            Sorry, There are currently no Jobs available for your profile. <a href="updateProfile.html"> Update your profile</a> and find matching jobs right away!
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'AppliedJobs'">
                            You have not applied to any jobs yet. Start applying to jobs by browsing
                            <br/> <a href="#" ng-click="showAvailableJobs('open')"> Available Jobs </a>.
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'AcceptedJobs'">
                            You do not have any confirmed job offers as of now. You will get the contact details of the job poster only if the poster also accepts your profile.
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'JobRequests'">
                            You do not have any job offers as of now. Start applying to jobs yourself by browsing <a href="#" ng-click="showAvailableJobs('open')"> Available Jobs </a>.
                        </p>
                    </div>

                    <div class="row" ng-show="candidates.length == 0">
                        <p class="dashInfo" ng-show="viewType == 'MatchingProfiles'">
                            There are currently no matching profiles for this job. <a href="postJob.html"> Post another job </a> and find matching candidates right away!
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'InterestShown'">
                            You have not shortlisted any candidate for this job post yet. Browse <a href="#" ng-click="showMatchingProfiles(curJob)">Matching Candidates</a> and start shortlisting compatible candidates right away!
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'AppliedCandidates'">
                            There are currently no candidates who applied for this job post. Browse <a href="#" ng-click="showMatchingProfiles(curJob)">Matching Candidates</a> and start shortlisting compatible candidates yourself!
                        </p>
                        <p class="dashInfo" ng-show="viewType == 'AcceptedCandidates'">
                            You do not have any candidate contacts right now. You can get the contacts of the candidates only when candidate also accepts the job offer.
                        </p>

                    </div>



                    <div class="row" ng-repeat="job in postedJobs">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 class="panel-title jobPanelTitle">{{job.jobTitle}}</h2>
                                            <p class="panel-title jobPanelSubTitle">{{job.companyName}}</p>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="glyphicon glyphicon-map-marker jobPanelIcon"></span>
                                                    <span class="jobPanelProps">&nbsp;{{job.location}}</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="glyphicon glyphicon-briefcase jobPanelIcon" style="font-size:20px"></span> <span class="jobPanelProps">&nbsp;{{job.minExperience}} - {{job.maxExperience}} years</span>
                                                </div>
                                            </div>
                                            <br/>


                                        </div>


                                        <div class="col-md-4" ng-show="profile.type != 'Seeker' && profile.type!= null">
                                            <p><a href="#" ng-click="showMatchingProfiles(job)" class="jobLinks">Matching Profiles &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{job.matchingCandidates.length}}</span></a></p>

                                            <p><a href="#" ng-click="showAppliedCandidates(job)" class="jobLinks">Applications &nbsp;<span class="label label-success compatLabel jobLabel" style="float:right">{{job.applications.length}}</span></a></p>

                                            <p><a href="#" class="jobLinks" ng-click="showInterestCandidates(job)">My Interests &nbsp;<span class="label label-success compatLabel jobLabel" style="float:right">{{job.interestCandidates.length}}</span></a></p>
                                        </div>

                                        <div class="col-md-4" ng-show="profile.type == 'Seeker' || profile.type == null">
                                            <p><a href="#" class="jobLinks">Compatibility &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{job.compatibility}}</span></a></p>

                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-repeat="skill in job.skillsRequired"><span class="myBadge">{{skill.name}}</span>&nbsp;&nbsp;</span>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row collapse" id="job{{job.id}}">
                                        <div class="col-md-12">
                                            {{job.description}}
                                            <br/>
                                            <br/>
                                            <p><b>Job Offer Valid Till :</b> {{job.expiryDateString}}</p>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row panel-body jobPanelFooter" ng-show="profile.type != 'Seeker' && profile.type!= null">
                                        <div class="col-xs-2 col-md-4">
                                            <a data-toggle="collapse" href="#job{{job.id}}" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="editJob(job)">
                                            <a href="#" style="color:white;float:right" class="cardButton">Edit</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showDeleteJob(job)">
                                            <a href="#" style="color:white;float:right" class="cardButton">Delete</a>
                                        </div>
                                    </div>
                                    <div class="row panel-body jobPanelFooter" ng-show="profile.type == 'Seeker' || profile.type == null">

                                        <div class="col-xs-2 col-md-4">
                                            <a href="#job{{job.id}}" data-toggle="collapse" style="color:white" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Show Interest</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Interest Shown</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="viewContact(job.postedBy)" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white" class="cardButton">View Contact</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Accept Request</a>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <br/>



                    <div class="row" ng-repeat="candidate in candidates">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 class="panel-title jobPanelTitle">{{candidate.name}}</h2>
                                            <p class="panel-title jobPanelSubTitle">{{candidate.designation}}</p>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-map-marker jobPanelIcon"></span>
                                                    <span class="jobPanelProps">&nbsp;{{candidate.company}}</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-briefcase jobPanelIcon" style="font-size:20px"></span> <span class="jobPanelProps">&nbsp;{{candidate.experience}} years</span>
                                                </div>
                                            </div>
                                            <br/>


                                        </div>

                                        <div class="col-md-4">
                                            <p><a href="#" class="jobLinks">Compatibility &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{candidate.compatibility}}</span></a></p>

                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-repeat="skill in candidate.jobSkills"><span class="myBadge">{{skill.name}}</span>&nbsp;&nbsp;</span>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row collapse" id="candi{{candidate.id}}">
                                        <div class="col-md-12">
                                            {{candidate.description}}
                                            <br/>
                                            <br/>
                                            <p><b>Job Offer Valid Till :</b> {{candidate.company}}</p>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row panel-body jobPanelFooter">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#candi{{candidate.id}}" data-toggle="collapse" style="color:white" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested != 'Y' && candidate.posterInterested != 'Y'" ng-click="showInterestCandidate(candidate)">Show Interest</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested != 'Y' && candidate.posterInterested == 'Y'">Interest shown</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested != 'Y'" ng-click="acceptInterestCandidate(candidate)">Accept Interest</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested == 'Y'" ng-click="viewContact(candidate)">View Contact</a>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>
            </div>
        </div>






        <!--</div>-->


        <div class="modal" id="showInterestModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Send Interest</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="showInterestResponse == null">Are you sure you want to send interest to this profile? ({{interestedProfile.name}})</p>
                        <p ng-show="showInterestResponse != null">{{showInterestResponse}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="showInterest()" ng-show="showInterestResponse == null">Send</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="applyJobModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Apply</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="applyJobResponse == null">Are you sure you want to apply for this profile? ({{interestedJob.companyName}})</p>
                        <p ng-show="applyJobResponse != null">{{applyJobResponse}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="applyJob()" ng-show="applyJobResponse == null">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="deleteJobModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Apply</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="deleteJobResponse == null">Are you sure you want to delete this Job Post ? ({{jobToDelete.jobTitle}})</p>
                        <p ng-show="deleteJobResponse != null">{{deleteJobResponse}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="deleteJob()" ng-show="deleteJobResponse == null">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="acceptedCandidateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Contact Details</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{acceptedCandidate.email}}</p>
                        <p>{{acceptedCandidate.phone}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        function toggle() {
            //alert("asd");
            if ($(window).width() < 768) {
                //alert($(window).width());
                $(".userOptions").removeClass("in");
                $(".listSpan").addClass("glyphicon glyphicon-plus");
            } else {
                $(".userOptions").addClass("in");
                $(".listSpan").removeClass("glyphicon glyphicon-plus");
            }
        }

        $(window).resize(function () {
            //alert("Resized!");
            toggle();
        });

        toggle();

        $(".list-group-item").click(function () {
            //alert(this);
            if ($(this).hasClass("listMain")) {
                $(".listSpan").toggleClass("glyphicon glyphicon-plus");
                $(".listSpan").toggleClass("glyphicon glyphicon-minus");
                return;
            }
            $('.list-group-item').each(function (i, obj) {
                $(obj).removeClass("active");
            });
            $(this).addClass("active");
        });

        /*$(window).scroll(function () {
            $("#optionsDiv")
                .stop()
                .animate({
                    "marginTop": ($(window).scrollTop())
                }, "slow");
        });*/

        /*var fixmeTop = $('#optionsDiv').offset().top; // get initial position of the element

        $(window).scroll(function () { // assign scroll event listener

            var currentScroll = $(window).scrollTop(); // get current position

            if (currentScroll >= fixmeTop) { // apply position: fixed if you
                $('#optionsDiv').css({ // scroll to that element or below it
                    position: 'fixed',
                    top: '0',
                    left: '0',
                    width: '30%'
                });
            } else { // apply position: static
                $('#optionsDiv').css({ // if you scroll above it
                    position: 'relative',
                    display: 'block'
                });
            }

        });*/

        /*window.onbeforeunload = function () {
            //alert("Changed!");
            if(window.event) {
                if (window.event.clientX < 40 && window.event.clientY < 0) {
                    alert("Browser back button is clicked…");
                } else {
                    alert("Browser refresh button is clicked…");
                }
            } else {
                if (event.currentTarget.performance.navigation.type == 1) {
                    alert("Browser refresh button is clicked…");
                }
                if (event.currentTarget.performance.navigation.type == 2) {
                    alert("Browser back button is clicked…");
                }
            }
        };
        
        window.onhashchange = function() {
            alert("Hash changed!");
        };*/
    </script>




</body>

</html>