<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Job Portal</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/site.min.css">
    <!--link rel="stylesheet" href="css/vertical_nav.css"-->
    <!--<link rel="stylesheet" href="css/drawer.css">-->
    <link rel="stylesheet" href="css/skylo.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/site.min.js"></script>

    <script src="js/skylo.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="js/ang/main.js"></script>

    <script src="js/ang/dashboard.js"></script>

</head>

<body ng-app="app" ng-controller="dashboard">

    <!--<input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>Header</header>
    <nav id="drawer">
        <ul>
            <li><a href="#" ng-click="showPostedJobs('open')">Posted Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.postedJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showAppliedJobs('open')">Applied Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.appliedJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showAvailableJobs('open')">Available Jobs&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.availableJobs.length}}</span></a></li>
            <li><a href="#" ng-click="showPosterInterests('open')">Your Interests&nbsp;&nbsp;&nbsp;<span class="label label-success compatLabel">{{profile.profileInterests.length}}</span></a></li>
            <li><a href="updateProfile.html">Your Profile&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href="postJob.html">Post New Job&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
    </nav>-->
    <!--<div id="page-content">-->
    <div class="container-fluid">
        <div ng-include="'header.html'"></div>

        <div class="row">

            <div class="row jobSection">
                <div class="col-md-3 col-md-offset-1 optionList">
                    <div class="list-group" ng-show="profile.type == 'Poster'">
                        <li class="list-group-item listMain" data-toggle="collapse" data-target="#poster"><span class="listSpan" style="float:right"></span>Job Poster&nbsp;&nbsp;&nbsp;&nbsp;<span class=""></span></li>
                        <div id="poster" class="collapse in">
                            <a href="#" class="list-group-item" ng-click="showPostedJobs('open')"><span class="badge badge-default">{{profile.postedJobs.length}}</span>Posted Jobs</a>
                            <a href="#" class="list-group-item" ng-click="showPosterInterests('open')"><span class="badge badge-primary">{{profile.profileInterests.length}}</span>My Candidates</a>
                            <a href="#" class="list-group-item" ng-click="showAcceptedCandidates('open')"><span class="badge badge-success">{{profile.acceptedProfiles.length}}</span>Accepted Candidates</a>
                            <a href="postJob.html" class="list-group-item">Post a New Job</a>
                            <a href="#" ng-click="updateType('Seeker')" class="list-group-item">Switch to Job Seeker</a>
                        </div>
                    </div>
                    <br/>
                    <div class="list-group" ng-show="profile.type == 'Seeker' || profile.type == null">
                        <li class="list-group-item listMain" data-toggle="collapse" data-target="#seeker"><span class="listSpan" style="float:right"></span>Job Seeker&nbsp;&nbsp;&nbsp;&nbsp;<span class=""></span></li>
                        <div id="seeker" class="collapse in">
                            <a class="list-group-item" ng-click="showAppliedJobs('open')"><span class="badge badge-default">{{profile.appliedJobs.length}}</span>Applied Jobs</a>
                            <a class="list-group-item" ng-click="showAvailableJobs('open')"><span class="badge badge-primary">{{profile.availableJobs.length}}</span>Available Jobs</a>
                            <a class="list-group-item" ng-click="showJobRequests()"><span class="badge badge-primary">{{profile.jobRequests.length}}</span>Job Requests</a>
                            <a class="list-group-item" ng-click="showAcceptedJobs()"><span class="badge badge-primary">{{profile.acceptedJobs.length}}</span>Accepted Job Requests</a>
                            <a href="#" ng-click="updateType('Poster')" class="list-group-item">Switch to Job Poster</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">


                    <div class="row" ng-show="loading == true">
                        <div class="col-md-6 col-md-offset-3 progressSection">
                            <h4>Loading profile ..</h4>
                        </div>
                    </div>

                    <div class="row" ng-show="profileError != null">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="alert alert-danger">
                                <!--button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button-->
                                {{profileError}}
                            </div>
                        </div>
                    </div>


                    <h3>{{header}}</h3>
                    <div class="row" ng-repeat="job in postedJobs">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 class="panel-title jobPanelTitle">{{job.jobTitle}}</h2>
                                            <p class="panel-title jobPanelSubTitle">{{job.companyName}}</p>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-map-marker jobPanelIcon"></span>
                                                    <span class="jobPanelProps">&nbsp;{{job.location}}</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-briefcase jobPanelIcon" style="font-size:20px"></span> <span class="jobPanelProps">&nbsp;{{job.minExperience}} - {{job.maxExperience}} years</span>
                                                </div>
                                            </div>
                                            <br/>


                                        </div>


                                        <div class="col-md-4" ng-show="profile.type != 'Seeker' && profile.type!= null">
                                            <p><a href="#" ng-click="showMatchingProfiles(job)" class="jobLinks">Matching &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{job.matchingCandidates.length}}</span></a></p>

                                            <p><a href="#" ng-click="showAppliedCandidates(job)" class="jobLinks">Applications &nbsp;<span class="label label-success compatLabel jobLabel" style="float:right">{{job.applications.length}}</span></a></p>

                                            <p><a href="#" class="jobLinks" ng-click="showInterestCandidates(job)">Interests &nbsp;<span class="label label-success compatLabel jobLabel" style="float:right">{{job.interestCandidates.length}}</span></a></p>
                                        </div>
                                        
                                        <div class="col-md-4" ng-show="profile.type == 'Seeker'">
                                            <p><a href="#" class="jobLinks">Compatibility &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{job.compatibility}}</span></a></p>

                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-repeat="skill in job.skillsRequired"><span class="myBadge">{{skill.name}}</span>&nbsp;&nbsp;</span>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row collapse" id="{{job.id}}">
                                        <div class="col-md-12">
                                            {{job.description}}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row panel-body jobPanelFooter" ng-show="profile.type != 'Seeker' && profile.type!= null">
                                        <div class="col-xs-2 col-md-4">
                                            <a data-toggle="collapse" href="#{{job.id}}" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="editJob(job)">
                                            <a href="#" style="color:white" class="cardButton">Edit</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showDeleteJob(job)">
                                            <a href="#" style="color:white" class="cardButton">Delete</a>
                                        </div>
                                    </div>
                                    <div class="row panel-body jobPanelFooter" ng-show="profile.type == 'Seeker'">
                                    
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Show Interest</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Interest Shown</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="viewContact(job.postedBy)" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white" class="cardButton">View Contact</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white" class="cardButton">Accept Request</a>
                                        </div>
                                    
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <br/>

                    <!--<div class="row" ng-repeat="job in postedJobs" class="panelRow">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="panel-title jobPanelTitle">{{job.jobTitle}}</h2>
                                            
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#" ng-click="showMatchingProfiles(job)">Matching &nbsp; <span class="label label-success compatLabel">{{job.matchingCandidates.length}}</span></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#" ng-click="showAppliedCandidates(job)">Applications &nbsp;<span class="label label-success compatLabel">{{job.applications.length}}</span></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#" ng-click="showInterestCandidates(job)">My Interests &nbsp;<span class="label label-success compatLabel">{{job.interestCandidates.length}}</span></a>
                                        </div>
                                        <div class="col-md-3">
                                            
                                        </div>
                                    </div>

                                    <p class="panel-title jobPanelSubTitle">{{job.companyName}}</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{job.location}}
                                        </div>
                                        <div class="col-md-4">
                                            {{job.minExperience}} - {{job.maxExperience}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="badge" ng-repeat="skill in job.skillsRequired">{{skill.name}}</span>&nbsp;
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{job.description}}
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body jobPanelFooter">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="editJob(job)">
                                            <a href="#" style="color:white">Edit</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br/>
                            <br/>
                        </div>
                        <br/>
                        <br/>
                    </div>-->

                    <!--<div class="row" ng-repeat="job in jobsList" class="panelRow">
                        <div class="col-md-12">
                            
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 class="panel-title jobPanelTitle">{{job.jobTitle}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            <a>Compatibility &nbsp;<span class="label label-success compatLabel">{{job.compatibility}}</span></a>
                                        </div>
                                    </div>

                                    <p class="panel-title jobPanelSubTitle">{{job.companyName}}</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{job.location}}
                                        </div>
                                        <div class="col-md-4">
                                            {{job.minExperience}} - {{job.maxExperience}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="badge" ng-repeat="skill in job.skillsRequired">{{skill.name}}</span>&nbsp;
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{job.description}}
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body jobPanelFooter">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white">Show Interest</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster != 'Y'">
                                            <a href="#" style="color:white">Interest Shown</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="viewContact(job.postedBy)" ng-show="job.interestShownBySeeker == 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white">View Contact</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestJob(job)" ng-show="job.interestShownBySeeker != 'Y' && job.interestShownByPoster == 'Y'">
                                            <a href="#" style="color:white">Accept Request</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br/>
                            <br/>
                        </div>
                        <br/>
                        <br/>
                    </div>-->

                    <div class="row" ng-repeat="candidate in candidates">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 class="panel-title jobPanelTitle">{{candidate.name}}</h2>
                                            <p class="panel-title jobPanelSubTitle">{{candidate.designation}}</p>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-map-marker jobPanelIcon"></span>
                                                    <span class="jobPanelProps">&nbsp;{{candidate.company}}</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="glyphicon glyphicon-briefcase jobPanelIcon" style="font-size:20px"></span> <span class="jobPanelProps">&nbsp;{{candidate.experience}} years</span>
                                                </div>
                                            </div>
                                            <br/>


                                        </div>
                                        
                                        <div class="col-md-4">
                                            <p><a href="#" class="jobLinks">Compatibility &nbsp; <span class="label label-success compatLabel jobLabel" style="float:right">{{candidate.compatibility}}</span></a></p>

                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-repeat="skill in candidate.jobSkills"><span class="myBadge">{{skill.name}}</span>&nbsp;&nbsp;</span>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row collapse" id="candi{{candidate.id}}">
                                        <div class="col-md-12">
                                            {{candidate.description}}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row panel-body jobPanelFooter">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#candi{{candidate.id}}" style="color:white" class="cardButton">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested != 'Y' && candidate.posterInterested != 'Y'" ng-click="showInterestCandidate(candidate)">Show Interest</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested != 'Y' && candidate.posterInterested == 'Y'">Interest shown</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested != 'Y'" ng-click="acceptInterestCandidate(candidate)">Accept Interest</a>
                                            <a href="#" style="color:white" class="cardButton" ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested == 'Y'" ng-click="viewContact(candidate)">View Contact</a>

                                        </div>
                                    
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    
                    <!--<div class="row" ng-repeat="candidate in candidates" class="panelRow">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2 class="panel-title jobPanelTitle">{{candidate.name}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <a>Compatibility &nbsp;<span class="label label-success compatLabel">{{candidate.compatibility}}</span></a>
                                        </div>
                                    </div>

                                    <p class="panel-title jobPanelSubTitle">{{candidate.designation}}</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{candiate.company}}
                                        </div>
                                        <div class="col-md-4">
                                            {{candidate.experience}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="badge" ng-repeat="skill in candidate.jobSkills">{{skill.name}}</span>&nbsp;
                                           
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{candidate.description}}
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body jobPanelFooter">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4" ng-click="showInterestCandidate(candidate)">
                                            <a href="#" style="color:white">Show Interest</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br/>
                            <br/>
                        </div>
                        <br/>
                        <br/>
                    </div>-->


                    <!--<div class="row" ng-repeat="candidate in myCandidates" class="panelRow">
                        <div class="col-md-12">
                            <div class="panel panel-default jobPanel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2 class="panel-title jobPanelTitle">{{candidate.name}}</h2>
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <a>Compatibility &nbsp;<span class="label label-success compatLabel">{{candidate.compatibility}}</span></a>
                                        </div>
                                    </div>

                                    <p class="panel-title jobPanelSubTitle">{{candidate.designation}}</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{candiate.company}}
                                        </div>
                                        <div class="col-md-4">
                                            {{candidate.experience}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="badge" ng-repeat="skill in candidate.jobSkills">{{skill.name}}</span>&nbsp;
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{candidate.description}}
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-body jobPanelFooter">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white">Read More</a>
                                        </div>
                                        <div class="col-xs-2 col-md-4">
                                            <a href="#" style="color:white"><span ng-show="candidate.seekerInterested != 'Y' && candidate.posterInterested == 'Y' ">Interest shown</span></a>
                                            <a href="#" style="color:white"><span ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested != 'Y' " ng-click="acceptInterestCandidate(candidate)">Accept Interest</span></a>
                                            <a href="#" style="color:white"><span ng-show="candidate.seekerInterested == 'Y' && candidate.posterInterested == 'Y'" ng-click="viewContact(candidate)">View Contact</span></a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br/>
                            <br/>
                        </div>
                        <br/>
                        <br/>
                    </div>-->

                </div>
            </div>
        </div>






        <!--</div>-->


        <div class="modal" id="showInterestModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Send Interest</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="showInterestResponse == null">Are you sure you want to send interest to this profile? ({{interestedProfile.name}})</p>
                        <p ng-show="showInterestResponse != null">{{showInterestResponse}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="showInterest()" ng-show="showInterestResponse == null">Send</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="applyJobModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Apply</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="applyJobResponse == null">Are you sure you want to apply for this profile? ({{interestedJob.companyName}})</p>
                        <p ng-show="applyJobResponse != null">{{applyJobResponse}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="applyJob()" ng-show="applyJobResponse == null">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="deleteJobModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Apply</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="deleteJobResponse == null">Are you sure you want to delete this Job Post ? ({{jobToDelete.jobTitle}})</p>
                        <p ng-show="deleteJobResponse != null">{{deleteJobResponse}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="wipe()">Close</button>
                        <button type="button" class="btn btn-success" ng-click="deleteJob()" ng-show="deleteJobResponse == null">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="acceptedCandidateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Contact Details</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{acceptedCandidate.email}}</p>
                        <p>{{acceptedCandidate.phone}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        function toggle() {
            //alert("asd");
            if ($(window).width() < 768) {
                //alert($(window).width());
                $("#demo").removeClass("in");
                $(".listSpan").addClass("glyphicon glyphicon-plus");
            } else {
                $("#demo").addClass("in");
                $(".listSpan").removeClass("glyphicon glyphicon-plus");
            }
        }

        $(window).resize(function () {
            //alert("Resized!");
            toggle();
        });

        toggle();

        $(".list-group-item").click(function () {
            //alert(this);
            if ($(this).hasClass("listMain")) {
                $(".listSpan").toggleClass("glyphicon glyphicon-plus");
                $(".listSpan").toggleClass("glyphicon glyphicon-minus");
                return;
            }
            $('.list-group-item').each(function (i, obj) {
                $(obj).removeClass("active");
            });
            $(this).addClass("active");
        });
    </script>




</body>

</html>