<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Job Portal</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/site.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="js/date.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ang/main.js"></script>
    <script src="js/ang/postJob.js"></script>
</head>

<body ng-app="app" ng-controller="postJob">




    <div class="container-fluid">
        <div ng-include="'header.html'"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>Job Information</h3>
                <ng-form name="postJobForm">
                    <div class="col-md-8 col-md-offset-2 myText">
                        <select name="type" ng-model="job.type" class="mySelect" ng-required="true">
                            <!--<option value="">I'm a nobody</option>-->
                            <option value="Referrer">I'm a Referrer</option>
                            <option value="Recruiter">I'm a Recruiter</option>
                        </select>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <select ng-model="job.sector.id" name="sector" class="mySelect" ng-required="true">
                            <option value="">Please select the field of job</option>
                            <option value="1">Information Technology</option>
                            <option value="2">Telecommunication</option>
                            <option value="3">Mechanical</option>
                            <option value="4">Industrial</option>
                        </select>
                        <p ng-show="showPostJobError && postJobForm.sector.$invalid">Please select something</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <input type="text" class="form-control" name="title" placeholder="Job Title" ng-model="job.jobTitle" ng-required="true">
                        <p ng-show="showPostJobError && postJobForm.title.$invalid">Please enter Job Title</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <input type="text" class="form-control" name="company" placeholder="Company" ng-model="job.companyName" ng-required="true">
                        <p ng-show="showPostJobError && postJobForm.company.$invalid">Please enter Company Name</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <div class="row">
                            <div class="col-md-6">
                                <input min="0" class="form-control" name="minExp" type="text" placeholder="Min. Experience (years)" ng-model="job.minExperience" ng-required="true">
                               
                            </div>
                            <div class="col-md-6">
                                <input min="0" class="form-control" name="maxExp" type="text" placeholder="Max. Experience (years)" ng-model="job.maxExperience" ng-required="true">
                                
                            </div>
                            <p ng-show="showPostJobError && (postJobForm.minExp.$invalid || postJobForm.maxExp.$invalid)">Please enter the full experience range</p>
                            <p>{{expError}}</p>
                        </div>

                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <input type="text" class="form-control" name="location" placeholder="Location" ng-model="job.location" ng-required="true">
                        <p ng-show="showPostJobError && postJobForm.location.$invalid">Please enter job location</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <input type="text" class="form-control" name="skills" placeholder="Skills required" ng-model="skill.name" ng-keyup="onKeyUp($event)">
                        <a href="#"><span class="myBadge" ng-click="removeSkill(s,$event)" ng-repeat="s in job.skillsRequired">{{s.name}}&nbsp;&nbsp;&nbsp;&nbsp;x</span></a>&nbsp;
                        <ul class="list-group">
                            <a href="#">
                                <li class="list-group-item" ng-click="itemClick(s,$event)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                            </a>
                        </ul>
                        <p>{{skillsError}}</p>
                    </div>
                    <!--<div class="col-md-8 col-md-offset-2 myText">
                    
                </div>-->
                    <!--<div class="col-md-8 col-md-offset-2">
                    <ul class="list-group">
                        <a href="#">
                            <li class="list-group-item" ng-click="itemClick(s)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                        </a>
                    </ul>
                </div>-->
                    <div class="col-md-8 col-md-offset-2 myText">
                        <textarea class="form-control" name="description" placeholder="About the Job" ng-model="job.description" ng-required="true"></textarea>
                        <p ng-show="showPostJobError && postJobForm.description.$invalid">Please enter the job description</p>
                    </div>

                    <div class="col-md-8 col-md-offset-2 text-center myText">
                        <input type="text" class="form-control" name="expiry" id="datepicker" placeholder="Job offer valid till" ng-model="job.expiryDate" ng-required="true">
                        <p ng-show="showPostJobError && postJobForm.expiry.$invalid">Please enter the date till which job offer is valid</p>
                    </div>

                    <div class="col-md-8 col-md-offset-2 text-center mySubmit">
                        <button type="button" ng-disabled="false" class="btn btn-block mySubmitButton" ng-click="saveJob(postJobForm.$valid)">Submit</button>
                    </div>
                </ng-form>


            </div>
        </div>




    </div>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

</body>

</html>