<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Job Portal</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/site.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="js/date.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ang/main.js"></script>
    <script src="js/ang/postJob.js"></script>
</head>

<body ng-app="app" ng-controller="postJob">




    <div class="container-fluid">
        
        <div ng-include="'header.html'"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>Job Information</h3>
                <div class="col-md-8 col-md-offset-2 myText">
                    <select ng-model="job.type" class="mySelect">
                        <!--<option value="">I'm a nobody</option>-->
                        <option value="Referrer">I'm a Referrer</option>
                        <option value="Recruiter">I'm a Recruiter</option>
                    </select>
                    
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <select ng-model="job.sector.id" class="mySelect">
                        <option value="">Please select the field of job</option>
                        <option value="1">Information Technology</option>
                        <option value="2">Telecommunication</option>
                        <option value="3">Mechanical</option>
                        <option value="4">Industrial</option>
                    </select>
                    
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <input type="text" class="form-control" placeholder="Job Title" ng-model="job.jobTitle">
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <input type="text" class="form-control" placeholder="Company" ng-model="job.companyName">
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Min. Experience (years)" ng-model="job.minExperience">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Max. Experience (years)" ng-model="job.maxExperience">
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <input type="text" class="form-control" placeholder="Location" ng-model="job.location">
                </div>
                <div class="col-md-8 col-md-offset-2 myText">
                    <input type="text" class="form-control" placeholder="Skills required" ng-model="skill.name" ng-keyup="onKeyUp($event)">
                    <span class="badge" ng-click="removeSkill(s)" ng-repeat="s in job.skillsRequired">{{s.name}}</span>&nbsp;
                    <ul class="list-group">
                        <a href="#">
                            <li class="list-group-item" ng-click="itemClick(s)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                        </a>
                    </ul>
                </div>
                <!--<div class="col-md-8 col-md-offset-2 myText">
                    
                </div>-->
                <!--<div class="col-md-8 col-md-offset-2">
                    <ul class="list-group">
                        <a href="#">
                            <li class="list-group-item" ng-click="itemClick(s)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                        </a>
                    </ul>
                </div>-->
                <div class="col-md-8 col-md-offset-2 myText">
                    <textarea class="form-control" placeholder="About the Job" ng-model="job.description"></textarea>
                </div>

                <div class="col-md-8 col-md-offset-2 text-center myText">
                    <input type="text" class="form-control" id="datepicker" placeholder="Job offer valid till" ng-model="job.expiryDate">
                </div>

                <div class="col-md-8 col-md-offset-2 text-center mySubmit">
                    <button type="button" class="btn btn-block mySubmitButton" ng-click="saveJob()">Submit</button>
                </div>



            </div>
        </div>




    </div>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

</body>

</html>