<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Documentation - Bootflat</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/site.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">-->
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <script src="js/angular.min.js"></script>
    <script src="js/ang/main.js"></script>
    <script src="js/ang/postJob.js"></script>

    <!--<style>
        a.tip {
            outline: none;
        }
        
        a.tip strong {
            line-height: 30px;
        }
        
        a.tip:hover {
            text-decoration: none;
        }
        
        a.tip span {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -50px;
            margin-left: 28px;
            width: 300px;
            line-height: 16px;
        }
        
        a.tip:hover span {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #DCA;
            background: #fffAF0;
        }
        
        .callout {
            z-index: 20;
            position: absolute;
            top: 20px;
            border: 0;
            left: -12px;
        }
        /*CSS3 extras*/
        
        a.tip span {
            border-radius: 4px;
            box-shadow: 5px 5px 8px #CCC;
        }
    </style>-->


</head>

<body ng-app="app" ng-controller="postJob">

    <div class="container-fluid">
        <div ng-include="'header.html'"></div>
        <!--<div class="row tooltip-demo">
                  <div class="col-md-12"><button type="button" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button></div>
                  <div class="col-md-12"><button type="button" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button></div>
                  <div class="col-md-12"><button type="button" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button></div>
                  <div class="col-md-12"><button type="button" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button></div>
                </div>-->
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Your Profile</h3>
                <ng-form name="profileForm">
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Field of work * </p>
                        <p class="fieldDesc text-left">Select your industry or field of work</p>
                        <select ng-model="user.sector.id" class="mySelect" ng-required="true" name="sector" data-toggle="tooltip" data-placement="top" title="Select your industry/field of work e.g. Mechanical, Information technology..">
                            <option value="">Please select the field of job</option>
                            <option value="1">Information Technology</option>
                            <option value="2">Telecommunication</option>
                            <option value="3">Mechanical</option>
                            <option value="4">Industrial</option>
                        </select>
                        <p class="error" ng-show="showProfileError && profileForm.sector.$invalid">Please choose a sector</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Specialization * </p>
                        <p class="fieldDesc text-left">Write your specialization based on interests/ current job title</p>
                        <input type="text" class="form-control" placeholder="e.g. Java developer, Product designer etc." ng-model="user.designation" name="title"  maxlength="50" ng-required="true">
                        <p class="error" ng-show="showProfileError && profileForm.title.$invalid">Please enter your specialization</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Experience * </p>
                        <p class="fieldDesc text-left">Write your work experience in years. Put 0 for freshers.</p>
                        <!--<p class="fieldDesc text-left" >Select your industry or field of work</p>-->
                        <input type="text" value="{{profile.experience}}" class="form-control" placeholder="e.g. 1.5, 2.5, 0 etc." ng-model="user.experience" ng-required="true" name="exp" maxlength="5">
                        <!--<div id="expHint" style="display:none">
                            <div class="hint-down-pos">
                                <div class="hint-down"></div>
                            </div>
                            <div class="hint">
                                <p>Write your experience in years e.g. 1.5 years ,0 years</p>
                            </div>
                        </div>-->
                        <p class="error" ng-show="showProfileError && profileForm.exp.$invalid">Please enter your job experience (0 for freshers)</p>
                        <p class="error" ng-show="!showProfileError">{{expError}}</p>
                        <!--<a class="tip">
                            <div class="row">
                                <div class="col-md-6">
                                    
                                </div>
                                <div class="col-md-6">
                                    <span>
                            <img class="callout" src="img/callout.gif" />
                            Write your experience in years e.g. 1.5 years ,0 years
                            </span>
                                </div>
                            </div>
                            
                        </a>-->

                    </div>
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Your Skills * </p>
                        <p class="fieldDesc text-left">List down things thar you're good at. It can be a tool, technology or soft skill. Be precise. Press enter after entering any skill to add it to your list.</p>
                        <input type="text" class="form-control" placeholder="C#, Java, Public speaking, Solidworks, Reporting etc." ng-model="skill.name" ng-keyup="onKeyUp($event)">
                        <br/>
                        <a href="#"><span class="badge myBadge" ng-click="removeSkill(s)" ng-repeat="s in user.jobSkills">{{s.name}}&nbsp;&nbsp;&nbsp;&nbsp;x</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <ul class="list-group">
                            <a href="#">
                                <li class="list-group-item" ng-click="itemClick(s)" ng-repeat="s in matchingSkills">{{s.name}}</li>
                            </a>
                        </ul>
                        <p class="error">{{skillsError}}</p>
                    </div>
                    <!--<div class="col-md-8 col-md-offset-2 myText">
                    <input type="text" class="form-control" placeholder="Your Qualifications" ng-model="education.name" ng-keyup="onKeyUpEdu($event)">
                    <span class="badge myBadge" ng-click="removeEdu(s)" ng-repeat="s in user.educations">{{s.name}}&nbsp;&nbsp;&nbsp;&nbsp;x</span>&nbsp;
                    <ul class="list-group">
                        <a href="#">
                            <li class="list-group-item" ng-click="itemClickEdu(s)" ng-repeat="s in matchingEducations">{{s.name}}</li>
                        </a>
                    </ul>
                </div>-->
                    
                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">Current Company </p>
                        <p class="fieldDesc text-left">If you are working, write name of your current company</p>
                        <input type="text" class="form-control" value="{{profile.company}}" placeholder="Company" ng-model="user.company" maxlength="50">
                    </div>


                    <div class="col-md-8 col-md-offset-2 myText">
                        <p class="fieldLabel text-left">About yourself *</p>
                        <p class="fieldDesc text-left">Introduce yourself. Write about the best of you in minimal words.(200 max)</p>
                        <textarea class="form-control" placeholder="Hi, I am .." ng-model="user.description" ng-required="true" maxlength="800" name="description" rows="10"></textarea>
                        <p class="error" ng-show="showProfileError && profileForm.description.$invalid">Please enter something about yourself</p>

                    </div>
                    
                    <div class="col-md-8 col-md-offset-2">
                       <p class="error" ng-show="showProfileError">Please enter all the mandatory fields</p>
                    </div>
                    
                    
                    <div class="col-md-8 col-md-offset-2 text-center mySubmit profileSubmit">
                        <button type="button" class="btn btn-block mySubmitButton profileSubmitButton" ng-click="saveProfile(profileForm.$valid)">Continue</button>
                    </div>

                </ng-form>

            </div>
        </div>




    </div>
    <script>
        $(document).ready(function () {
            /*$('[data-toggle="tooltip"]').tooltip();*/
        });

        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

</body>

</html>