<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Talnote | Profile</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/skylo.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">-->

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">

    <script type="text/javascript" src="js/site.min.js"></script>
    <script src="js/skylo.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/ang/main.js"></script>

    <script src="js/ang/viewProfile.js"></script>

</head>

<body ng-app="app" ng-controller="viewProfile">




    <div class="container-fluid">

        <div ng-include="'header.html'"></div>

        <h3 class="text-center">Profile at a Glance</h3>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="alert alert-danger" ng-show="profileResponse != null && profileResponse.length > 0">
                    <strong>Oh snap!</strong> {{profileResponse}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default jobPanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="panel-title jobPanelTitle">{{user.name}}</h2>
                                <p class="panel-title jobPanelSubTitle">{{user.designation}}</p>

                                <div class="row">
                                    <!--<div class="col-md-4">
                                        <span class="glyphicon glyphicon-map-marker jobPanelIcon"></span>
                                        <span class="jobPanelProps">&nbsp;{{candidate.company}}</span>
                                    </div>-->
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-briefcase jobPanelIcon" style="font-size:20px"></span> <span class="jobPanelProps">&nbsp;{{user.experience}} years</span>
                                    </div>
                                </div>
                                <br/>


                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span ng-repeat="skill in user.jobSkills"><span class="myBadge">{{skill.name}}</span>&nbsp;&nbsp;</span>

                            </div>
                        </div>
                        <br/>
                        <div class="row" id="candi{{candidate.id}}">
                            <div class="col-md-12">
                                <p style="white-space: pre;">{{user.description}}</p>
                                <br/>
                                <br/>
                                <p><b>Current company :</b> {{user.company}}</p>
                            </div>
                        </div>
                        <br/>
                        <div class="row panel-body jobPanelFooter" style="padding-bottom:5%">
                            <!--<div class="col-md-6">
                                <a href="#" class="cardButton profileButton" ng-click="back()">Back</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="cardButton profileButton" ng-click="saveProfile()">Save</a>

                            </div>-->

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="price-foot viewJobFooter">
                    <button type="button" class="btn btn-primary myPanelButton myPanelButtonBack" ng-click="back()">Back</button>
                    <button type="button" class="btn btn-primary myPanelButton myPanelButtonSave" ng-click="saveProfile()">Submit</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>